<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/opalthm/Movies/Camtasia 2/Temporary Recordings/Rec 10-19-14 2.trec</key>
	<data>
	Ym9vawQDAAAAAAQQMAAAAM60Ubv5tuxueCNZ6F6PaWled9Je63gAtJE3zQ04c+cYDAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAG9wYWx0aG0ABgAAAAEBAABNb3ZpZXMAAAoA
	AAABAQAAQ2FtdGFzaWEgMgAAFAAAAAEBAABUZW1wb3JhcnkgUmVjb3JkaW5ncxMAAAAB
	AQAAUmVjIDEwLTE5LTE0IDIudHJlYwAYAAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAA
	ZAAAAAgAAAAEAwAAQ8AAAAAAAAAIAAAABAMAAC8fBQAAAAAACAAAAAQDAAD1HwUAAAAA
	AAgAAAAEAwAA+AX3AAAAAAAIAAAABAMAAPkF9wAAAAAACAAAAAQDAAAzT/gAAAAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBufU7eAAAABgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAI91rgAAAAgAAAAABAAAQbR2
	g1AAAAAkAAAAAQEAAEU2NUJFRUZFLTgyRDctMzMxMC1CREQ5LThFMThFMEM3MkREMBgA
	AAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
	AAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACAAAAAAAAAAAUQAAAAAQAA
	AAAAABAQAAAwAQAAAAAAAEAQAAAgAQAAAAAAAAIgAADsAQAAAAAAABAgAABsAQAAAAAA
	ABEgAACgAQAAAAAAABIgAACAAQAAAAAAABMgAACQAQAAAAAAACAgAADMAQAAAAAAADAg
	AAD4AQAAAAAAAAHAAABQAQAAAAAAABHAAAAUAAAAAAAAABLAAABgAQAAAAAAABDQAAAA
	AgAAAAAAAA==
	</data>
</dict>
</plist>
